batch/src/main/mule/batch.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a72a2ab3-22d3-477e-9577-528b4ff2eb32" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="batchFlow" doc:id="ac158276-2ca2-428d-8eef-c47177fc6783" >
		<http:listener doc:name="Listener" doc:id="be09e420-6a12-47bf-9bce-149c3c6e4e79" config-ref="HTTP_Listener_config" path="batch"/>
		<ee:transform doc:name="Transform Message" doc:id="5d8b94b8-8612-4e9a-b7f2-c5577eba29a5" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

1 to 100 map
{
	id: 100 + $$,
	name: "ABC",
	city: "hyd",
	country: "india"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="b14d084a-7fe2-4468-a24f-126b166120cd" message="#[payload]"/>
	</flow>
</mule>
